<h1 class="underline">Adnat</h1>

<h3>Sign Up</h3>


<%= form_with model: @user, url: "/signup", method: "POST", local: true do |f|  %>

    <% if @user.errors.any? %>
    <div>
    <ul>
    <h2>Errors:</h2>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

    <div>
        <%= f.label :name , "Name:" %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :email , "Email:" %>
        <%= f.text_field :email %>
    </div>

    <div>
        <%= f.label :password , "Password:" %>
        <%= f.password_field :password %>
    </div>    
    <div>
        <%= f.label :password_confirmation , "Confirm Password:" %>
        <%= f.password_field  :password_confirmation %>
    </div>

    <div>
        <%= f.submit "Submit" %>
    </div>
<% end %>